@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-5m0vsw');
	src:url('fonts/icomoon.eot?#iefix-5m0vsw') format('embedded-opentype'),
	url('fonts/icomoon.woff?-5m0vsw') format('woff'),
	url('fonts/icomoon.ttf?-5m0vsw') format('truetype'),
	url('fonts/icomoon.svg?-5m0vsw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-glass:before {
	content: "\f000";
}

.icon-music:before {
	content: "\f001";
}

.icon-film:before {
	content: "\f008";
}

.icon-home:before {
	content: "\f015";
}

.icon-clock-o:before {
	content: "\f017";
}

.icon-volume-up:before {
	content: "\f028";
}

.icon-leaf:before {
	content: "\f06c";
}

.icon-eye:before {
	content: "\f06e";
}

.icon-camera-retro:before {
	content: "\f083";
}

.icon-group:before {
	content: "\f0c0";
}

.icon-cut:before {
	content: "\f0c4";
}

.icon-bell:before {
	content: "\f0f3";
}

.icon-cutlery:before {
	content: "\f0f5";
}

.icon-compass:before {
	content: "\f14e";
}

.icon-female:before {
	content: "\f182";
}

.icon-male:before {
	content: "\f183";
}

.icon-pagelines:before {
	content: "\f18c";
}

.icon-bank:before {
	content: "\f19c";
}

.icon-birthday-cake:before {
	content: "\f1fd";
}

