.cd-timeline-img {
	> [class^="icon-"] {
		display: block;
		position: relative;
		left: 50%;
		top: 50%;
		margin-left: -15px;
		margin-top: -16px;
		color: white;
		font-size: 2rem;
	}

	.icon-male,
	.icon-female {
		margin-left: -11px;
	}
}

.cd-timeline-content {
	.cd-date {
		font-size: 1.5rem;
		color: $color-1;
	}

	.duration {
		color: $color-7;
	}
}

